*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black;
}
p{
    color: black;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-1{
    flex-basis: 50%;
    min-width: 300px;
}
.col-1 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-1 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background-color: rgb(231, 148, 39);
    color: rgb(226, 245, 215);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 50px;
    transition: 0.5s;
}
.btn:hover{
    background-color: rgb(219, 119, 5);
}
.header{
    background: radial-gradient(rgb(235, 212, 212),#ffb3e8);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-2{
    flex-basis: 30%;
    min-width: 150px;
    margin-bottom: 30px;
}
.col-2 img{
    width: 100%;
}
.small{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-3{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-3 img{
    width: 100%;

}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: darkslategray;
}
.title::after{
    content:'';
    background-color: #f8b118;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #302e2f;
    font-weight: normal;
}
.col-3 p{
    font-size: 15px;
}
.col-3:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(rgb(235, 212, 212),#ffb3e8);
    margin-top: 80px;
    padding: 30px 0;
}
.col-1 .offer-img{
    padding: 200px;
}
small{
    color: darkslateblue;
}
.testimonial{
    padding-top: 100px;
}
.testimonial .col-2{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-2 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-2:hover{
    transform: translateY(-10px);
}
.col-2 p{
    font-size: 13px;
    margin: 13px 0;
    color: #302e2f;
}
.testimonial .col-2 h3{
    font-weight: 600;
    color: #302e2f;
    font-size: 16px;
}
.Brands{
    margin: 100px auto;
}
.col-4{
    width: 160px;
}
.col-4 img{
    width: 70%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-4 img:hover{
    filter: grayscale(0);
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 15px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.fcol-1, .fcol-2, .fcol-3, .fcol-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.fcol-1{
    flex-basis: 30%;
}
.fcol-2{
    flex: 1;
    text-align: center;
}
.fcol-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.fcol-3, .fcol-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
}
.applogo{
    margin-top: 20px;
}
.applogo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.Copy{
    text-align: center;
}
.menu{
    width: 20px;
    margin-left: 20px;
    display: none;
}


.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid#ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.single{
    margin-top: 80px;
}
.single .col-1 img{
    padding: 0;
}
.single .col-1{
    padding: 20px;
}
.single h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
.smallrow{
    display: flex;
    justify-content: space-between;
}
.smallcol{
    flex-basis: 24%;
    cursor: pointer;
}
.cart{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cartinfo{
    display: flex;
    flex-wrap: wrap;
}
.cartinfo img{
    width: 100px;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #fa9c30;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #fa9c30;
    font-size: 13px;
}
td img{
    margin-right: 10px;
}
.price{
    display: flex;
    justify-content: flex-end;
}
.price table{
    border-top: 3px solid #fa9c30;
    width: 100%;
    max-width: 450px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align:right;
}
.account{
    padding: 50px 0;
    background: radial-gradient(rgb(235, 212, 212),#ffb3e8);
}
.formcon{
    background-color: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.formcon span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.formbtn{
    display: inline-block;
}
.formcon form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#Lg{
    left: -300px;
}
#Rg{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicate{
    width: 100px;
    border: none;
    background: #fa9c30;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

 @media only screen and (max-width: 800px){
        nav ul{
            position: absolute;
            top:70px;
            left :0;
            background:rgb(233, 148, 148);
            width:100%;
        }
        nav ul li{
            display: block;
            margin-right: 50px;
           margin-top: 10px;
         margin-bottom: 10px;
        }
        nav ul li{
            color: #302e2f;
        }
        .menu{
            display: block;
            cursor: pointer;
        }
    }
